#FrontendEditingControls { position: fixed; top: 100px; right: 10px; background-color: #131F11; padding: 20px; }
#FrontendEditingControls { -moz-box-shadow: 4px 4px 5px #222; -webkit-box-shadow: 4px 4px 5px #222; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

#FrontendEditingControls input { background-color: #eef5ff; font-size: 10px; padding: 5px;  }
#FrontendEditingControls input { -moz-box-shadow: 0px 0px 10px #fffec3; -webkit-box-shadow: 0px 0px 10px #fffec3; -moz-border-radius: 5px; -webkit-border-radius: 5px; }