/* For nicedit rethemeing */
div.nicEdit-panelContain { overflow : hidden; height: 50px; width : 100%; background: #0099FF url('toolbar.png') repeat-x; }
div.nicEdit-panel {margin-top : 14px; margin-left: 14px; zoom : 1; overflow : hidden}

#__ajax-load { display: none; float: right; }
.nicEdit-pane { position: fixed; top: 50px; }
#__tree-container { height: 400px; overflow: auto; }
#__toolbox { display: none; z-index: 200; position: fixed; top: 0; left: 0; width: 100%; height: 50px; }
#__toolbox a { color: #0a0; font-size: small; }
#__toobox-actions { height: 30px; }
#__toolbox-opener {  }
#__toolbox-buffer { z-index: 200; display: none;height: 50px; }
#__toolbox-control { cursor: pointer; height: 2px; background-color:#222 }
#__toolbox-opener { font-size: x-small;cursor: pointer;background-color: #a00; color: #fff; border: 1px solid black; position: fixed; top: 0; right: 0; width: 80px; height: 20px; }
#__message-box { margin-top: 20px; margin-right: 20px; padding: 5px; font-size: 12px; font-weight: bold; background-color: #131F11; width: 400px; float: right; color: #fff; display: none; }
.__editable { border: 1px dashed #ccc; }
.__editor-dialog {font-size: small; background-color: #fff; position: fixed; top: 100px; left: 200px; width: 400px; border: 1px solid #aaa; padding: 1em}